[submodule "pytorch_advanced"]
	path = pytorch_advanced
	url = https://github.com/YutaroOgawa/pytorch_advanced.git
[submodule "alearn"]
	path = alearn
	url = https://github.com/Numberartificial/alearn.git
[submodule "Lhy_Machine_Learning"]
	path = Lhy_Machine_Learning
	url = https://github.com/Fafa-DL/Lhy_Machine_Learning.git

